
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;
@theme {
  --color-dark-blue: #264653;
  --color-teal: #2a9d8f;
  --color-yellow: #e9c46a;
  --color-orange: #f4a261;
  --color-red: #e76f51;
}


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Couleur fond et texte pour les snackbars */
.mdc-snackbar.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important; /* rouge */
  color: white !important;
  font-weight: bold;
  border-radius: 8px !important;
}

.mdc-snackbar.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important; /* vert */
  color: white !important;
  font-weight: bold;
  border-radius: 8px !important;
}
//
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
